# Ignore everything
/*

# Except
!.gitignore
!README.md

/*
!/src
/src/*
!/src/goth

src/goth/main/debug
src/goth/main/default*

!/src/fe
!/src/fe/client
/src/fe/client/node_modules
/src/fe/client/build

!/resources/
!app.yaml
!etcd.config.yaml


